#root {
  min-height: 800px;
}

#root p {
  font-family: monospace;
  font-size: 22px;
  color: #000000;
}

#root p {
  font-size: 17px;
}

.navigation {
  height: 80px;
  width: 100%;
  margin-bottom: 90px;
  background: #000000;
}

.name h1 {
  font-size: 50px;
  font-family: monospace;
  color: #000000;
}

@media (max-width: 563px) {
  .name h1 {
    font-size: 30px;
  }
}

.links {
  margin-top: 25px;
}

.links li a {
  text-decoration: none;
  color: #fff;
}

.links li {
  font-size: 18px;
  font-family: monospace;
  margin-left: 55px;
  margin-right: 55px;
  list-style-type: none;
  display: inline-block;
}

.links li a:hover {
  text-shadow: 0 0 20px #fff;
}

.hamburger-menu {
  float: left;
}

#navicon {
  margin-top: 25px;
  margin-bottom: 20px;
}

#navicon div {
  width: 45px;
  height: 7px;
  margin: 7px;
  border-radius: 4px;
  background-color: #fff;
}

@media (max-width: 450px) {
  .navigation {
    height: 60px;
  }
  #navicon {
    margin-top: 17px;
  }
  #navicon div {
    width: 40px;
    height: 6px;
    margin: 6px;
  }
}

#mobile-links {
  padding: 0;
  margin-top: -7px;;
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 100%;
  float: left;
  display: none;
  border: solid #fff 1px;
  background: #000000;
  border-radius: 10px;
}

#mobile-links li a {
  text-decoration: none;
  color: #fff;
}

#mobile-links li {
  font-size: 20px;
  font-family: monospace;
  margin-top: 20px;
  list-style-type: none;
  display: block;
}

@media (max-width: 600px) {
    .links li {
      font-size: 30px;
    }
}

.profile-img {
  height: 150px;
  width: 150px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 90px;
  border: solid white 1px;
  border: solid #000000 1px;
}

.intro-heading {
  width: 50%;
  margin-bottom: 20px;
}

.contact-details {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact-details p a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  transition: 0.7s;
  }

.contact-details p a:hover {
  font-size: 35px;
}

@media (max-width: 415px) {
  .intro-heading, .contact-details {
    font-size: 18px;
  }
  .profile-img {
    margin-top: 30px;
  }
}

.projects * {
  height: 200px;
  margin-bottom: 100px;
}

.projects p {
  margin-top: 10px;
  margin-left: 20px;
}

.projects a {
  text-decoration: none;
}

@media (max-width: 520px) {
  .projects {
    margin: auto;
  }
  .intro-heading {
    width: 100%;
  }
}

.projects img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid #000000 1px;
  box-shadow: inset 0 2px 0px #dcffa6, 2px 5px 15px #303030;
}

.projects img:hover {
  height: 210px;
  width: 210px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: solid #000000 1px;
  box-shadow: inset 0 2px 0px #dcffa6, 2px 5px 15px #303030;
}

@media (max-width: 520px) {
  .projects img {
    margin-left: 0;
  }
}

.skills-section img {
  margin-top: 20px;
  height: 200px;
  padding: 30px;
  transition: 0.7s;
}

#js-logo {
  margin-left: 30px;
}

#bootstrap-logo {
  width: 270px;
}

#git-logo {
  height: 150px;
  width: 200px;
}

@media (max-width: 480px) {
  #git-logo {
    width: 100%;
  }
  #js-logo {
    margin-left: 0;
  }
}
